<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.pois0nbread.icantopenit">

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/launcher_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoadActivity"
            android:label="@string/launcher_name"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="net.pois0nbread.icantopenit.MainAlias"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/launcher_name"
            android:targetActivity="net.pois0nbread.icantopenit.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
        </activity>

        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting">
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="让某些应用打不开" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>